{% extends 'base.html' %} {% load static %} {% block title %}
<title>𝐋𝐞𝐠𝐚𝐥𝟒𝐔 | Case</title>
{% endblock title %} {% block content %}
<div class="card bg-success w-75 mx-auto my-2 text-white">
  <div class="card-body">
    <h6 class="card-subtitle mb-2 text-white">
      Posted By: {{username}} {% if userverified %}
      <span
        ><i
          class="fa-solid fa-circle-check"
          data-toggle="tooltip"
          data-placement="top"
          title="Verified"
          >Verified</i
        ></span
      >
      {% endif %}
    </h6>
    <h5 class="card-title">{{title}}</h5>
    <p class="card-text">{{content}}</p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item bg-success">User NickName: {{usernick}}</li>
    <li class="list-group-item bg-success">User Email: {{useremail}}</li>
    <li class="list-group-item bg-success">User Date of Birth: {{userdob}}</li>
  </ul>
  <p class="card-text text-center">
    Kindly contact user by email or wait for user to contact you as your details
    are shared with them.
  </p>
  <div class="card-footer text-white text-right">{{timestamp}}</div>
</div>
{% endblock content %}
